* {
	box-sizing: border-box;
}

#app {
	width: 400px;
}

input[type="text"], input[type="email"] {
	border: none;
	border-bottom: 1px solid #E8E7F6;
}

input[type="text"] {
	height: 25px;
	margin: 0 10px 10px 0;
	width: 40%;
}

input[type="email"] {
	display: inline-block;
	width: 70%;
	margin: 0 20px 0 0;
	vertical-align: bottom;
}

button[type="submit"] {
	background: #8195F9;
	border: none;
	padding: 10px;
}

.contactList {
	padding: 0;
}

.contactItem {
	background: #E8E7F6;
	margin: 0 0 10px 0;
	position: relative;
	padding: 1px 0 1px 100px;
}

.contactItem a {
	color: #000;
	display: block;
	text-decoration: none;
	margin: 0 0 16px 0;
}

img {
	height: 40px;
	width: 40px;
	position: absolute;
	left: 20px;
	top: 60px;
	transform: translateY(-50%);
}